<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Zekarias</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a
                    class="nav-link {% if page.url == item.link %} active {% endif %}"
                    href="{{ item.link }}"
                    >{{ item.name }}</a
                >
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
