---
layout: default
---

<div class="container mb-6">
    <div class="row text-center">
        <div class="col-lg-3 col-md-12 mb-4 order-sm-2">
            <div class="card">
                <img class="card-img-top" src={{ "/assets/images/zack.jpg |
                relative_url" }} alt="Zekarias">
                <div class="card-body">
                    <h4 class="card-title">Zekarias Tilahun</h4>
                    <p class="card-text">Postdoc in Machine Learning</p>
                    <p class="card-text">KTH Royal Institute of Technology</p>
                </div>
                <div class="card-footer">
                    <a href="https://bit.ly/2Zrla0S"
                        ><i
                            class="ai ai-google-scholar-square ai-2x social-icon google-scholar"
                        ></i
                    ></a>
                    <a href="https://bit.ly/2ZpxNZZ"
                        ><i
                            class="ai ai-orcid-square ai-2x social-icon orcid"
                        ></i
                    ></a>
                    <a href="https://bit.ly/2MxXiQk"
                        ><i class="fa fa-github fa-2x social-icon github"></i
                    ></a>
                    <a href="https://bit.ly/2Ue5bNc"
                        ><i
                            class="fa fa-linkedin fa-2x social-icon linkedin"
                        ></i
                    ></a>
                    <a href="https://bit.ly/1SofuJR"
                        ><i class="fa fa-twitter fa-2x social-icon twitter"></i
                    ></a>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-12 mb-4 shadow-sm">
            <h3 class="p-3 text-center">{{ page.title }}</h3>
            <div class="text-justify">
                {{ content }}
            </div>
        </div>
    </div>
</div>
